@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-size:16px;
    
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  /* scrollbar-color: #7E857A #DFE9EB; */
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 30px;
  background-color: #7E857A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666968;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #4C4D4C;
}
